body {
    overflow-x: hidden;
}

nav {
    width: 90%;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
nav #h2 {
    color: #000;
    font-family: 'Rubik Maps', system-ui;
    font-size: 26px;
    letter-spacing: 8px ;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;        
}

nav ul li a {
    padding-right: 19px;
    text-decoration: none;
    color: #000;
    font-family: 'Rubik Maps', system-ui;
    font-size: 17px;
    transform: font-size 0.5s;
    cursor: pointer;
}

nav ul li a:hover{
    font-size: 20px;
}

.header {
    font-size: 28px;
    color: gray;
    font-family:cursive;
    padding: 0px 9%;
}

.car-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.img-container {
    width: 700px;
    height: 500px;
    margin: 5px 0 12px 2%;

}

.slide{
    display: grid;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,10fr);
    gap: 18px;
}

.slide::-webkit-scrollbar-thumb {
    display: none;
}

.slide .cascade {
    width: 700px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}

.cascade:hover {
    transform: scale(1.1);
}


.details {
    margin: 5px 6%px;
    padding: 10px 2%;
}

.details h1 {
    font-size: 45px;
    font-family: 'Salsa', cursive;
}

.details p {
    font-size: 40px;
    color: rgb(223, 16, 16);
    font-weight: 600;
    font-family: 'Salsa', cursive;
}

.spec {
    background: rgba(135, 210, 210, 0.459);
    width: 400px;
    border-radius: 7px;
    margin-bottom: 10%;
    margin-right: 8%;
}


.spec ul li {
    font-size: 25px;
    list-style: none;
    padding: 4%;
    font-family: 'Genos', sans-serif;
}

.details a {
    background: rgb(221, 48, 9);
    color: #fff;
    margin: 2% 2%;
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 6px;
    text-decoration: none;
    transition: padding 0.5s;
}

.details a:hover {
    padding: 22px 44px;
}

/*footer part*/
footer {
    background: linear-gradient(5deg,#0a3556, #03253f);
    color:#fff;
    width: 100%;
    margin-top: 7%;
    text-align: center;
}

footer h1 {
    font-size: 50px;
    font-family: genos;
    letter-spacing: 8px;
    padding-top: 4%;
    padding-bottom: 2%;
}


footer .footerDetails {
    display: flex;
    justify-content: space-evenly;
}

footer .footerDetails .address ul{
    list-style: none;
}

.address ul li {
    padding: 10px;
    font-family: genos;
    font-size: 18px;
}

footer .social-media {
    padding: 15px 10px;
}

.social-media i {
    margin-left: 2px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
}

.social-media i:hover {
    background: #fff;
    color: #0a3556;
    border-radius: 3600px;
}

footer hr {
    margin: 14px;
    width: 50%;
    margin-left: 25%;
}
footer label {
    font-family: 'poor story';
    text-align: center;
    font-size: 23px;
}

label span {
    color: rgb(208, 22, 22);
}

/*for the mobile responsiveness*/
.checkbtn {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width:962px) {
    nav{
        padding:0 5px 0
    }
    nav #h2{
        font-size: 16px;
        margin: 1rem 2rem;
    }
}

@media (max-width:900px) {
    .checkbtn {
        display: inline;
        float: right;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    nav ul {
        position: fixed;
        width: 40%;
        height: 100vh;
        top: 40px;
        right: -100%;
        border-radius: 10px;
        text-align: center;
        padding-top: 2%;
        background: #131316;
        opacity: 0.7;
        transition: all 1s;
        z-index: 1;
    }
    nav ul li {
        margin: 50px 0;
        display: block;
        line-height: 30px;
    }

    nav ul li a {
        color: #9e9898;
        font-size: 16px;
    }
    nav ul li a:hover {
        color: #fff;
    }

    #check:checked ~ nav ul {
        right: .5rem; 
    }

    .header {
        font-size: 15px;
        margin-left: -3rem;
    }

    .car-details {
        display: block;
    }

    .img-container {
        width: 500px;
        height: 400px;
        margin: auto;
    }

    .slide{
        gap: 13px;
    }
    

    .slide .cascade {
        width: 500px;
        height: 400px;
    }


    .details {
        text-align: center;
        margin: 5px 6%;
        padding: 10px 2%;
    }
    
    .details h1 {
        font-size: 31px;
    }
    
    .details p {
        font-size: 28px;
    }
    
    .spec {
        width: 300px;
        margin: 5% 23%;
        padding: 2px 15px;
    }
    
    
    .spec ul li {
        font-size: 25px;
        padding: 10px;
    }
    
    .details a {
        padding: 10px 30px;
        font-size: 18px;
    }
    
    .details a:hover {
        padding: 15px 35px;
    }


    /*footer part*/
footer {
    margin-top: 2%;
}

footer h1 {
    font-size: 40px;
    padding-top: 4%;
    padding-bottom: 1%;
}

footer p {
    font-size: 18px;
}

footer .social-media {
    padding: 10px 8px;
}

.social-media i {
    margin-left: 2px;
    padding: 6px 6px;
    color: #fff;
    cursor: pointer;
}

.social-media i:hover {
    background: #fff;
    color: #0a3556;
    border-radius: 3600px;
}

footer hr {
    margin: 14px;
    width: 50%;
    margin-left: 25%;
}
footer label {
    text-align: center;
    font-size: 23px;
}
}


@media (max-width:495) {    
    .img-container {
        width: 100px;
        height: 200px;
        margin-left: 12%;
    }

    .slide .cascade {
        width: 100px;
        height: 200px;
    }
}
