:root {
    --dark-mode: #131316;
}

body {
    background: var(--dark-mode);
    color: #fff;
}

nav {
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
nav #h2 {
    color: #fff;
    font-family: 'Rubik Maps', system-ui; 
    font-size: 26px;
    letter-spacing: 8px ;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;        
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik Maps', system-ui;
    font-size: 15px;
    transform: font-size 0.5s;
    cursor: pointer;
}

nav ul li a:hover{
    font-size: 17px;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'poor story';
    margin-top: 6rem;
    color: rgb(161, 192, 192);
}
fieldset .h1 {
    height: 100vh; 
}

h1 .head{
    font-size: 120px;
    display: block;
    color: #0a3556;
}

.container {
    width: 80%;
    margin: 2% 8%;
    text-align: center;
}

 fieldset {
    border: 2px solid var(--dark-mode);
    
    margin-bottom: 4%;
    height:max-content;
}

.container fieldset .title {
    font-family: 'Rubik Maps', system-ui;
    font-size: 20px;
}

.container label {
    font-size: 20px;
    font-family: 'Single Day', cursive;
    display: block;
}
.container input {
    padding: 10px 4%;
    margin: 2%;
    outline: none;
    border: none;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poor Story', system-ui;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

@keyframes glowing {
    0%   { box-shadow: 0 0 5px rgba(56, 202, 168, 0.467); }
    50%   { box-shadow: 0 0 20px rgba(56, 202, 168, 0.467); }
    100%   { box-shadow: 0 0 5px rgba(56, 202, 168, 0.467); }
}

input:focus {
    animation: glowing 2s infinite;
}



.imageChoice {
    width: 70%;
    position: relative;
    text-align: center;
    margin: 6% 18%;
    padding-top: 2px;
    background: #2a5372;
    box-shadow: 0 0 15 #1176c2;
}
input[type="file"] {
    display: none;
}

.pict {
    width: 30%;
    display: block;
    background: #2a5372;
    border: 1px solid #fff;
    margin: 2% 0 0 38%;
    position: relative;
    cursor: pointer;
}

.pict:hover {
    color: #2a5372;
    background: #fff;
}

#images {
    width: 90%;
    border: none;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

figure {
    width:36%;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}


button {
    border: 2px solid #2a5372;
    border-radius: 6px;
    color: #2a5372;
    background: #fff;
    font-size: 20px;
    margin: 6px 8px;
    padding: 0.5rem 2rem;
    transition: transform 0.3s, background 0.3s, color 0.3s;
    cursor: pointer;
}

button:hover {
    transform: translateY(10px);
    background: #2a5372;
    color: #fff;
}

footer {
    background: linear-gradient(5deg,#0a3556, #03253f);
    color:#fff;
    width: 100%;
    margin-top: 7%;
    text-align: center;
}

footer h1 {
    font-size: 50px;
    font-family: genos;
    letter-spacing: 8px;
    padding-top: 4%;
    padding-bottom: 2%;
}


footer .footerDetails {
    display: flex;
    justify-content: space-evenly;
}

footer .footerDetails .address ul{
    list-style: none;
}

.address ul li {
    padding: 10px;
    font-family: genos;
    font-size: 18px;
}

footer .social-media {
    padding: 15px 10px;
}

.social-media i {
    margin-left: 2px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
}

.social-media i:hover {
    background: #fff;
    color: #0a3556;
    border-radius: 3600px;
}

footer hr {
    margin: 14px;
    width: 50%;
    margin-left: 25%;
}
footer label {
    font-family: 'poor story';
    text-align: center;
    font-size: 23px;
}

label span {
    color: rgb(208, 22, 22);
}


.hidden {
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/*for the mobile responsiveness*/
.checkbtn {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width:962px) {
    nav{
        padding:1rem 5px 0
    }
    nav #h2{
        font-size: 16px;
        margin: 2rem 2rem;
    }
}

@media (max-width:900px) {
    .checkbtn {
        display: inline;
        float: right;
        margin: 2.5rem 2%;
    }
    nav ul {
        position: fixed;
        width: 40%;
        height: 100vh;
        top: 70px;
        right: -100%;
        border-radius: 10px;
        text-align: center;
        padding-top: 2%;
        background: #22222b;
        opacity: 0.9;
        transition: all 1s;
        z-index: 1;
    }
    nav ul li {
        margin: 50px 0;
        display: block;
        line-height: 30px;
    }

    nav ul li a {
        color: #9e9898;
        font-size: 16px;
    }
    nav ul li a:hover {
        color: #fff;
    }

    #check:checked ~ nav ul {
        right: .5rem; 
    }

    /*footer part*/
    footer {
        margin-top: 2%;
    }
    
    footer h1 {
        font-size: 40px;
        padding-top: 4%;
        padding-bottom: 1%;
    }
    
    footer p {
        font-size: 18px;
    }
    
    footer .social-media {
        padding: 10px 8px;
    }
    
    .social-media i {
        margin-left: 2px;
        padding: 6px 6px;
        color: #fff;
        cursor: pointer;
    }
    
    .social-media i:hover {
        background: #fff;
        color: #0a3556;
        border-radius: 3600px;
    }
    
    footer hr {
        margin: 14px;
        width: 50%;
        margin-left: 25%;
    }
    footer label {
        text-align: center;
        font-size: 23px;
    }
}